/normalized_texts.csv
/results_1/doc_topic_lda_bow.csv
/results_1/doc_topic_lsa_tfidf.csv
/results_1/features_bow.csv
/results_1/features_tfidf.csv
/results_1/topics_lda_bow.json
/results_1/topics_lsa_tfidf.json
/results_1/topics_overview__comparison.csv
/results_1/topics_overview_lda_bow.csv
/results_1/topics_overview_lsa_tfidf.csv
/results_1/topics_terms_lda_bow.csv
/results_1/topics_terms_lsa_tfidf.csv
/results_1/vectorization_bow.json
/results_1/vectorization_comparison.txt
/results_1/vectorization_tfidf.json
/results_1/X_bow.npz
/results_1/X_tfidf.npz
/normalized_texts_1.csv
